<nav aria-label='breadcrumb'>
  <ol class='breadcrumb'>
    <li class='breadcrumb-item'><a href='/users'>Admin</a></li>
    <li class='breadcrumb-item active' aria-current='page'>View User</li>
  </ol>
</nav>

<div class='view-user p-5'>

  {{#each rows}}
    <div class='row mb-5'>
      <div class='col text-center'>
        <h3>{{this.first_name}} {{this.last_name}}</h3>
      </div>
    </div>
    <div class='row'>
      <div class='col'>

        {{! Table }}
        <table class='table table-bordered'>
          <thead>
            <tr>
              <th scope='col'>First Name</th>
              <th scope='col'>Last Name</th>
              <th scope='col'>Email</th>
              <th scope='col'>Phone Number</th>
              <th scope='col'>Mobile Money Number</th>
              <th scope='col'>Country</th>
              <th scope="col" class="text-end">Action</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <th scope='row'>{{this.first_name}}</th>
              <td>{{this.last_name}}</td>
              <td>{{this.email}}</td>
              <td>{{this.phone_number}}</td>
              <td>{{this.mobile_money_number}}</td>
              <td>{{this.country}}</td>

              <td class='text-end'>
                <a href='#' type='button' class='btn btn-warning btn-small'><i
                    class='bi bi-book'
                  ></i>
                  Receipts</a>
              </td>
            </tr>
            
          </tbody>
        </table>
      </div>
    </div>
  {{/each}}
</div>